<?xml version="1.0"?>
 
<config>
  <jars>
    <jar out="Inubot.jar" in="Inubot-unobbed.jar"/>
  </jars>
  <keep-names>
    <class template ="class com.inubot.api.*">
      <method access = "private+"/>
      <field access="private+"/>
    </class>
    <class template ="class com.inubot.Bootstrap">
      <method access = "private+"/>
      <field access="private+"/>
    </class>
    <class template ="class com.inubot.client.*">
      <method access = "private+"/>
      <field access="private+"/>
    </class>
    <class template ="class org.objectweb.*">
      <method access = "private+"/>
      <field access="private+"/>
    </class>
    <class template = "class com.inubot.script.Manifest">
      <method access="private+"/>
      <field access = "private+"/>
    </class>
    <class template = "class com.inubot.script.Script">
      <method access="private+"/>
      <field access = "private+"/>
    </class>
    <class template = "class com.inubot.script.Task">
      <method access="private+"/>
      <field access = "private+"/>
    </class>
    <class template = "class com.inubot.script.LoopTask">
      <method access="private+"/>
      <field access = "private+"/>
    </class>
    <class template = "class *Inubot"/>
  </keep-names>
  <property value="log.xml" name="log-file"/>
</config>